@import 'vendor/bootstrap.css';

body {
  font-size: 14px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

.index-page .header {
  background-size: cover;
  width: 100%;
  height: 165px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.index-page .header.bg1 {
  background-image: url('/assets/header1.jpg');
}

.index-page .header.bg2 {
  background-image: url('/assets/header2.jpg');
}

.index-page .header.bg3 {
  background-image: url('/assets/header3.jpg');
}

.index-page .header.bg4 {
  background-image: url('/assets/header4.jpg');
}

.index-page .header h2 {
  font-size: 1.5rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  margin: 0;
  padding: 5px 0;
}

.index-page .body {
  margin-top: 0.25rem;
}

.index-page .footer {
  position: absolute;
  bottom: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 4px 8px;
}

.setting-page {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.setting-page h5 {
  font-size: 16px;
}

.border1 {
  border-color: #d2b9b9;
}

.features {
  margin: 10px 10px 10px 0;
}
